@import "tailwindcss";

@font-face {
  font-family: 'my32bit';
  src: url('/fonts/pokemon-emerald.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.gui-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background: rgba(0,0,0,0.5);
  font-size: 3rem;
  color: #ffffff; 
}